h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100 !important;
  color: #ffffff;
}

h6 {
  font-weight: 100 !important;
  font-size: 0.8rem;
  color: #ffffff;
}

body {
  background-color: #3e464c;
  font-weight: 100;
  color: #ffffff;
}

.card {
  background-color: #49535a;
  border: 1px solid #ff6859;
}

.header {
  background-color: #3e464c;
  border: none;
}

.list-group-item {
  background-color: #3e464c;
  border: none;
  margin-top: 5px;
  padding: 0.25rem 0.25rem;
}

.btn {
  font-weight: 100;
}

.btn-success {
  background-color: #3e464c;
  border: 1px solid #1eb980;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.show > .btn-success.dropdown-toggle {
  background-color: #1eb980;
  border: 1px solid #1eb980;
}

.btn-danger {
  background-color: #3e464c;
  border: 1px solid #ff6859;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #ff6859;
  border: 1px solid #ff6859;
}

/* .btn-success:not(:disabled):not(.disabled):active, 
.btn-success:not(:disabled):not(.disabled).active, 
.show > .btn-success.dropdown-toggle */

.modal-content {
  background-color: #49535a;
}

.modal-header {
  border-bottom: none;
  background-color: #3e464c;
}

.modal-footer {
  border-top: none;
}

.form-control {
  background-color: #3e464c;
  color: #ffffff;
  border: 1px solid #ff6859;
  font-weight: 100;
}

.form-control:focus {
  background-color: #3e464c;
  color: #ffffff;
}

.dropdown-menu {
  background-color: #3e464c;
  color: #ffffff;
}

.dropdown-item {
  color: #ffffff;
  font-weight: 100;
}

.width-40 {
  width: 40%;
}

.title {
  color: #ffffff;
}

.expense-list {
  margin: 10px 0px 10px 0px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.font-green {
  color: #76ff03;
}

.font-red {
  color: #ff6859;
}

.cursor-pointer {
  cursor: pointer;
}

.disable-link {
  text-decoration: none !important;
}

.min-width-120 {
  min-width: 120px;
}

.dropdown > button {
  min-width: 120px;
}
